
    <style type="text/css">
        ol {
            padding-left: 20px;
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="page-header" style="border-bottom:none;padding-bottom:10px">
                    <h1 style="font-size:40px; text-align:center; line-height:30px;">Forgotten Your Password?<small><br /> Change your password in three easy steps. This helps to keep your new password secure.</small></h1></div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <form class="box" method="post" style="margin-bottom:20px">
                    <p class="lead">
                        <ol>
                            <li>Fill in your email address below</li>
                            <li>We&#39;ll email you a password reset code</li>
                            <li>Use the code to change your password</li>
                        </ol>
                    </p>
                    
                    <label for="email">Email address:</label>
                    <input autocomplete="false" class="form-control" id="email" name="email" style="font-size:16px" type="text" />
                    <label></label>
                    <button class="btn btn-primary btn-block" type="submit"><i class="icon-lock"></i> Send Reset Code</button>
                </form>
                <p class="text-center"><a ng-click="login()" href="">Want to sign-in instead?</a>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </div>
    </div>
