<div class="content-wrapper" style="min-height: 916px;">
    
 
    <section class="content-header">
        <h1>Add New Role</h1>    
    </section>
    <section class="content">
        <div class="row">
              <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">{{appSettings.NEWROLETITLE}}</h3>
                </div><!-- /.box-header -->
                  
                    <uib-alert ng-show = "msg!=''" type="{{alerttype}}" dismiss-on-timeout="2000" closeable= "true" close="closeAlert()" >{{ msg }}</uib-alert>
                <!-- form start -->
                  <div class="row">
                      <div class="col-md-6">
                    <form role="form" ng-submit="newRole()" name="formAddRole">
                      <div class="box-body">
                        <div class="form-group">
                          <label for="role">User Role</label>
                          <input type="text" class="form-control" id="role" placeholder="Enter user role" required = "required" ng-model="userrole.role" >
                        </div>                  
                      </div><!-- /.box-body -->
                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                   
                  </div>
                </div>
              </div><!-- /.box -->

             

            </div><!--/.col (left) -->
        </div>
        
    </section>
</div>
 <div ng-include src="'partials/footer.html'"></div>