<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>        
            Role List  
      </h1>
        
    </section>

    <!-- Main content ng-init= "getRoles()"-->
    <section class="content" > 
        <div class="row">
            <div class="col-xs-12">
                 <uib-alert ng-show = "msg!=''" type="{{alerttype}}" closeable= "true" close="closeAlert()">{{ msg }}</uib-alert>
                <a href="#/admin/addnewrole" class="btn btn-block btn-info xc-btn-add-new-user"><i class="fa fa-plus-circle "></i><span class="xc-icon-spacer">New Role</span></a>
               
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">User Roles</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="example1_length">
                                        <label>Show
                                    <select ng-change="getItemsPerPage()"  name="itemsPerPage" class="form-control input-sm" ng-model="itemsPerPage" ng-options= "item.itemPerPage for item in itmesPerPage1">                             </select> entries</label>
                                        
                                    
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <label>Search:
                                            <input type="search" ng-model="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="role" class="table table-bordered table-striped dataTable" role="grid" >
                                        <thead>
                                            <tr role="row">
                                                <th ng-click = "sort('id')"  rowspan="1" colspan="1" style="width: 181px;">Id <i class="fa sort-icon" ng-show="sortKey == 'id'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i></th>
                                                <th ng-click = "sort('role_name')"  rowspan="1" colspan="1" style="width: 224px;">Role Name<i class="fa sort-icon" ng-show="sortKey == 'role_name'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i></th>
                                                <th ng-click = "sort('status')"  rowspan="1" colspan="1" style="width: 197px;">Status<i class="fa sort-icon" ng-show="sortKey == 'status'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i></th>
                                                
                                                <th class="" tabindex="0" rowspan="1" colspan="1" style="width: 112px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="userroles.length <= 0"><td colspan="5" style="text-align:center;">Loading new data!!</td></tr>
                                            <tr dir-paginate="userrole in userroles|itemsPerPage:itemsPerPage.itemPerPage | orderBy:sortKey:reverse | filter:search" total-items="total_count">                                                
                                                <td>{{ userrole.id }}</td>
                                                <td>{{ userrole.role_name }}</td>
                                                <td ng-show="userrole.status == 0">Active</td>
                                                <td ng-show="userrole.status != 0">In-Active</td>
                                                <td>
                                                    <a href="" ng-click="editRole(userrole.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                                    <a href="" ng-click="deleteRole(userrole.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">Id</th>
                                                <th rowspan="1" colspan="1">Role Name</th>
                                                <th rowspan="1" colspan="1">Status</th>
                                                <th rowspan="1" colspan="1"></th>
                                               
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                         
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{fromRecord}} to {{ toRecord }} of {{total_count}} entries</div>
                                </div>
                                <div class="col-sm-7">                                    
                                    <dir-pagination-controls  direction-links="true" boundary-links="true"  on-page-change="getRoles(newPageNumber)" >
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        
       
    </section>
    <!-- /.content -->
</div>
 <div ng-include src="'partials/footer.html'"></div>
